@font-face {
  font-family: "Newcomen";
  src: url("../NewcomenRegular/font.woff") format("woff");
}
/* font-size:calc(12px + 1.5vw); */
body {
  background-color: black;
  padding: 0px 75px 0px 75px;
  font-family: "Iowan Old Style";
  color: #D8D2C3;
  font-size: 1em;
}

h1 {
  color: #FFBB25;
  font-family: "Mrs Saint Delafield";
  font-size: 5.3vw;
  font-style: normal;
  font-weight: 400;
  /*     line-height: 80%; /* 96px */
  text-align: center;
}

h2 {
  color: #D8D2C3;
  font-family: "Newcomen";
  font-size: 2.7vw;
  font-style: normal;
  display: inline;
  /* line-height: 80%; */
  overflow-wrap: break-word;
  align-self: center;
  margin-bottom: 0;
}

h3 {
  color: #FFBB25;
  font-family: "Bellefair";
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28px */
  /*     margin: auto; */
  text-align: left;
}

h4 {
  font-family: "Bellefair";
  font-size: 1.9vw;
  color: white;
  /*     text-align: center; */
}

@media screen and (min-width: 1600px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 28px;
  }
}
ul {
  list-style-image: url(../images/bullet1.svg);
}

li {
  padding: 0.5em 0 0.25em 1em;
  flex-direction: column;
  align-self: flex-start;
  gap: 5px;
  flex: 1 0 0;
}

.mdMargin {
  margin-top: 2vh;
}

.deEmph {
  padding-top: 0.5em;
}
.deEmph p {
  color: #AEAEAE;
  font-style: italic;
}

.subBullet li {
  display: inline-block;
  color: #AEAEAE;
}
.subBullet p {
  display: list-item;
  padding-left: 1em;
  margin-bottom: 0.25em;
}
.subBullet p::marker {
  content: url(../images/subBullet.svg);
}

.sB2 p {
  display: inline-block;
  padding-right: 1em;
  margin-bottom: 0.25em;
}
.sB2 p::before {
  content: url(../images/subBullet.svg);
  padding-right: 1em;
  opacity: 70%;
}

.adjFs p {
  color: #AEAEAE;
}

.line {
  flex-grow: 1;
  height: 0px;
  border-style: solid;
  border-color: #FFBB25;
  border-width: 2px;
  opacity: 70%;
}

.h3Title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.h3Title img {
  height: 2.7vw;
  width: auto;
}

.myNav {
  padding-top: 2vh;
  flex-direction: row;
}
.myNav li {
  flex: none;
}
.myNav .nav {
  border-bottom-color: black;
}

.myButton {
  font-family: "Bellefair";
  background-color: #FFBB25;
  color: #55534C;
  border-color: #D8D2C3;
}

.myNav a {
  font-family: "Bellefair";
  font-size: 2vw;
  color: #55534C;
  font-size: 1.3em;
}

.myNav a:active {
  color: #AEAEAE;
}

.myButton:hover {
  background-color: #55534C;
  color: #D8D2C3;
  border-color: #FFBB25;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #D8D2C3;
  opacity: 60%;
  border-color: #D8D2C3 #D8D2C3 #D8D2C3;
}

.myNav a:hover {
  color: #55534C;
  background-color: #FFBB25;
}

.myCardSmol {
  background-color: #55534C;
}

.myDropdownItem a {
  color: #55534C;
}

.myDropdownItem a:hover {
  background-color: #FFBB25;
}

#greeting {
  padding-top: 2vh;
}

#gr1 {
  justify-self: right;
  align-self: flex-start;
}
#gr1 p {
  text-align: right;
}

#gr2 {
  align-self: center;
}

#gr3 {
  align-self: flex-end;
}

#work {
  padding-top: 5vh;
}

.caseStudies {
  margin-top: 2vh;
}
.caseStudies object {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.caseStudies img {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.caseStudies p {
  text-align: left;
}
.caseStudies ul {
  margin: 0;
}
.caseStudies li {
  padding-bottom: 0.5em;
}

.triangleBreak {
  /*     padding-top: $container-top-pad; */
}
.triangleBreak .triBreakIcons {
  display: flex;
  justify-content: space-between;
  opacity: 40%;
  gap: 1em;
}
.triangleBreak .triBreakIcons img {
  width: 33%;
  height: auto;
}
.triangleBreak .triBreakIcons object {
  width: 33%;
  height: auto;
}

#about {
  padding-top: 5vh;
}
#about #specAndPhoto {
  margin-top: 2vh;
}
#about #aboutContent {
  margin-top: 2vh;
}
#about #specAni object {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#about #photo img {
  width: 100%;
  height: auto;
  align-self: center;
}
#about #break {
  position: relative;
  justify-content: center;
}
#about #break img {
  position: absolute;
  height: 100%;
  width: auto;
}
#about #skillsAndInterests {
  margin-top: 2vh;
}
#about #skillsAndInterests #thurible {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-right: 1.2em;
}
#about #skillsAndInterests #thurible img {
  width: 15%;
  height: auto;
}
#about #skillsAndInterests #smoke {
  /* max-height: 600px; */
}
#about #skillsAndInterests #smoke #smokeImageThis {
  /* background-image: url(../images/smoke.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 99%;
  height: 53vh;
  opacity: 60%; */
}
#about #skillsAndInterests .myAccordion {
  margin-top: 1em;
}
#about #skillsAndInterests .myAccordion h4 button {
  font-size: 1.9vw;
}
#about #skillsAndInterests .myAccordion .accordion-body {
  background-color: black;
}
#about #skillsAndInterests .myAccordion button {
  color: white;
  background-color: black;
  border-color: #55534C;
}
#about #skillsAndInterests .myAccordion .accordion-item {
  border: none;
}
#about #skillsAndInterests .myAccordion button img {
  color: #55534C;
}
#about #skillsAndInterests .accordion-button:not(.collapsed) {
  color: white;
  background-image: url(../images/smoke.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #222222;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
#about #skillsAndInterests .accordion-button:not(.collapsed)::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../images/eyeconOpen.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
#about #skillsAndInterests .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../images/eyeClosed.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
#about #skillsAndInterests #interests ul {
  max-height: 20vh;
  overflow: scroll;
}

#break2 {
  padding-top: 5vh;
}
#break2 .row {
  opacity: 40%;
}
#break2 .row #tri1 {
  rotate: 180deg;
}
#break2 .row img {
  padding: 0;
}
#break2 .row .triangles img {
  width: 80%;
  height: auto;
}
#break2 .row #cuniText img {
  /* rotate: 180deg; */
  width: 40%;
  height: auto;
}

.contact {
  padding-top: 5vh;
}
.contact #cText {
  margin-top: 2vh;
}
.contact .fLinks {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.contact .greyDash img {
  width: 100%;
  height: auto;
}
.contact .extIcon img {
  height: 2vh;
  width: auto;
}
.contact #cQuill img {
  width: 100%;
  height: auto;
  padding: 1vh;
}/*# sourceMappingURL=style.css.map */